:root{
--nav--color: black;
--text--color: #FFFFFF;
--text2--color: black;
--artikel3Achtergrond--color: #35283C;
--footerAchtergrond--color: #1D1D1F;
}

/********************************* Fonts ********************************/

@font-face {
    font-family: 'san-francisco';
    src: url("/Users/martin/Desktop/HVA/Jaar 2/Blok 1/FED/Eindopdracht/font/SFUIDisplay-Regular.otf") format("truetype");
}

@font-face {
    font-family: 'san-francisco-bold';
    src: url("/Users/martin/Desktop/HVA/Jaar 2/Blok 1/FED/Eindopdracht/font/SFUIDisplay-Semibold.otf") format("truetype");
}

body {
    margin: 0;
    background-color: var(--nav--color);
    cursor:url(../images/32x32_apple_texture.png), auto; /* https://minecraft.novaskin.me/skin/982513104/32x32-apple-texture */
}

/********************************* Navigatie ********************************/

nav {
    position: sticky;
    top: 0;
    z-index: 4;
    background-color: var(--nav--color);
    opacity: 90%;
    max-height: 50px;
}

nav ul {
    background-color: var(--nav--color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: .5em;
    padding-right: .5em;
    margin: 0;
}

nav ul li {
    color: white;
    list-style: none;
    flex-direction: row;
}

nav ul li img {
    width: 20px;
}

.hamburger {
    color: transparent;
}

/********************************* Menu ********************************/

.ham {
    position: fixed;
    z-index: 101;
    top: .5em;
    left: .5em;
    width: 3rem;
    height: 3rem;
    border: solid 0px;
    background: transparent;
    cursor: pointer;
}

.xIcon {
    color: white;
    display: none;
    z-index: 100;
}

.menuIcon {
    color: white;
}

input {
    width: 290px;
    border-radius: 8px;
    height: 30px;
    background-color: grey;
    color: black;
    margin-left: 3em;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: black;
    color: white;
    transform: translateY(-100%);
    transition: transform 0.2s;
    list-style: none;
    padding-top: 4em;
    padding-left: 0;
    z-index: 100;
    margin: 0;
}

.showMenu {
    transform: translateY(0);
}

ul div{
    max-width: 280px;
    border-bottom: solid 1px grey;
    margin-left: 3em;
}

.streep{
    margin-left: 0;
    min-width: 375px;
    border-bottom: solid 1px grey;
    padding-top: 1em;
}

li {
    padding: 1rem 0;
}

.menuLink {
    display: inline;
    font-size: 100%;
    font-family: 'san-francisco';
    color: white;
    text-decoration: none;
    min-width: 300px;
}

/************* https://dev.to/ljcdev/easy-hamburger-menu-with-js-2do0 ik heb het menu gemaakt aan de hand van dit artikel en mijn eigen styling daarop toegepast zodat het goed past bij de apple site ******************/

/********************************* eerste artikel ********************************/

article:first-of-type {
    margin: 0;
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 670px;
    text-align: center;
}

article:first-of-type h2 {
   position: absolute;
   color: var(--text--color);
   top: 10.5em;
   font-family: 'san-francisco';
   font-size: 220%;
   white-space: pre;
}

article:first-of-type p {
    position: absolute;
    color: var(--text--color);
    top: 27.5em;
    max-width: 310px;
    font-family: 'san-francisco';
    font-size: 110%;
}

article:first-of-type button {
    position: absolute;
    top: 37em;
    max-width: 290px;
    background-color: transparent;
    padding: .5em;
    padding-left: 1em;
    padding-right: 1em;
    border: solid 2px;
    border-radius: 3em;
    color: var(--text--color);
    font-family: 'san-francisco';
    font-size: 100%;
    border-color: var(--text--color);
    transition-duration: 0.4s;
}
.nr1:hover {
    background-color: white;
    color: black;
}

article:first-of-type img {
    position: absolute;
    height: 670px;
}


/********************************* tweede artikel ********************************/

article:nth-of-type(2) {
    margin: 0;
    background-color: var(--text--color);
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    height: 630px;
    text-align: center;
}

article:nth-of-type(2) img{
    position: absolute;
    top: 30em;
    width: 375px;
    height: 175px;
    object-fit: cover;
}

article:nth-of-type(2) h2 {
    position: absolute;
    color: var(--text2--color);
    top: 1.5em;
    font-family: 'san-francisco';
    font-size: 220%;
}

article:nth-of-type(2) p {
    position: absolute;
    color: var(--text2--color);
    top: 7.5em;
    max-width: 250px;
    font-family: 'san-francisco-bold';
    font-size: 115%;
}

article:nth-of-type(2) button:first-of-type {
    position: absolute;
    top: 20em;
    left: 4em;
    background-color: transparent;
    padding: .5em;
    padding-left: 1em;
    padding-right: 1em;
    border: solid 2px;
    border-radius: 3em;
    color: var(--text2--color);
    font-family: 'san-francisco';
    font-size: 100%;
    border-color: var(--text2--color);
}

article:nth-of-type(2) button:nth-of-type(2) {
    position: absolute;
    top: 20em;
    right: 4em;
    max-width: 290px;
    background-color: transparent;
    padding: .5em;
    padding-left: 1em;
    padding-right: 1em;
    border: solid 2px;
    border-radius: 3em;
    color: var(--text2--color);
    font-family: 'san-francisco';
    font-size: 100%;
    border-color: var(--text2--color);
}

article:nth-of-type(2) .nr2:hover {
    background-color: black;
    color: white;
}

/********************************* derde artikel ********************************/

article:nth-of-type(3) {
    margin: 0;
    background-color: var(--artikel3Achtergrond--color);
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    height: 630px;
    text-align: center;
}

article:nth-of-type(3) img {
    position: absolute;
    top: 27.1em;
    width: 400px;
    object-fit: cover;
}

article:nth-of-type(3) h2 {
    position: absolute;
    color: var(--text--color);
    top: 1.5em;
    font-family: 'san-francisco';
    font-size: 220%;
}

article:nth-of-type(3) p {
    position: absolute;
    color: var(--text--color);
    top: 7.5em;
    max-width: 250px;
    font-family: 'san-francisco-bold';
    font-size: 115%;
}

article:nth-of-type(3) button:first-of-type {
    position: absolute;
    top: 20em;
    left: 4em;
    background-color: transparent;
    padding: .5em;
    padding-left: 1em;
    padding-right: 1em;
    border: solid 2px;
    border-radius: 3em;
    color: var(--text--color);
    font-family: 'san-francisco';
    font-size: 100%;
    border-color: var(--text--color);
}

article:nth-of-type(3) button:nth-of-type(2) {
    position: absolute;
    top: 20em;
    right: 4em;
    max-width: 290px;
    background-color: transparent;
    padding: .5em;
    padding-left: 1em;
    padding-right: 1em;
    border: solid 2px;
    border-radius: 3em;
    color: var(--text--color);
    font-family: 'san-francisco';
    font-size: 100%;
    border-color: var(--text--color);
}

article:nth-of-type(3) .nr1:hover {
    background-color: white;
    color: black;
}

/********************************* vierde artikel ********************************/

article:nth-of-type(4) {
    margin: 0;
    background-color: #F5F5F7;
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    height: 630px;
    text-align: center;
}

article:nth-of-type(4) img {
    position: absolute;
    top: 20em;
    width: 375px;
    object-fit: cover;
}

article:nth-of-type(4) h2 {
    position: absolute;
    color: var(--text2--color);
    top: 1em;
    font-family: 'san-francisco';
    font-size: 220%;
}

article:nth-of-type(4) p {
    position: absolute;
    color: var(--text2--color);
    top: 5.5em;
    max-width: 250px;
    font-family: 'san-francisco-bold';
    font-size: 115%;
}

article:nth-of-type(4) button:first-of-type {
    position: absolute;
    top: 17em;
    left: 4em;
    background-color: transparent;
    padding: .5em;
    padding-left: 1em;
    padding-right: 1em;
    border: solid 2px;
    border-radius: 3em;
    color: var(--text2--color);
    font-family: 'san-francisco';
    font-size: 100%;
    border-color: var(--text2--color);
}

article:nth-of-type(4) button:nth-of-type(2) {
    position: absolute;
    top: 17em;
    right: 4em;
    max-width: 290px;
    background-color: transparent;
    padding: .5em;
    padding-left: 2.3em;
    padding-right: 2.3em;
    border: solid 2px;
    border-radius: 3em;
    color: var(--text2--color);
    font-family: 'san-francisco';
    font-size: 100%;
    border-color: var(--text2--color);
}

article:nth-of-type(4) .nr2:hover {
    background-color: black;
    color: white;
}

/********************************* vierde artikel ********************************/

footer{
    margin: 0;
    padding-top: 1em;
    background-color: var(--footerAchtergrond--color);
    width: 100%;
    height: 520px;
}

footer div{
    border-bottom: solid 1px rgb(53, 53, 53);
    margin-left: auto;
    margin-right: auto;
    max-width: 340px;
    max-height: 50px;
    padding-top: .5em;
    position: relative;
}

footer div img{
    max-width: 8px;
    position: absolute;
    right: 3px;
    bottom: 10px;
}

footer div p {
    color: var(--text--color);
    font-family: 'san-francisco';
    font-size: 80%;
    margin: 0;
    padding: .5em;
}

footer p {
    color: grey;
    font-family: 'san-francisco';
    font-size: 80%;
    max-width: 340px;
    margin: 0;
    margin-top: 1em;
    padding: .5em;
    margin-left: auto;
    margin-right: auto;
}

/********************************* Iphone pagina ********************************/

.zonder_class_stylde_hij_andere_elementen {
    display: flex;
    overflow-x: scroll;
}

.zonder_class_stylde_hij_andere_elementen_ik_werd_er_gek_van_dus_heb_ik_het_zo_maar_opgelost {
    height: 90px;
}

.iphone {
    background-color: white;
}

/********************************* eerste artikel ********************************/

.iphone article:nth-of-type(1){
    margin: 0;
    background-color: #0D3139;
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    height: 630px;
    text-align: center;
}

.iphone article:nth-of-type(1) img {
    position: absolute;
    top: 24em;
    width: 375px;
    object-fit: cover;
    height: auto;
}

.iphone article:nth-of-type(1) h6 {
    position: absolute;
    color: var(--text--color);
    top: .5em;
    font-family: 'san-francisco';
    font-size: 120%;
}

.iphone article:nth-of-type(1) h2 {
    position: absolute;
    color: var(--text--color);
    top: 1.8em;
    font-family: 'san-francisco';
    font-size: 225%;
    white-space: pre;
}

.iphone article:nth-of-type(1) p {
    position: absolute;
    color: var(--text--color);
    top: 10em;
    max-width: 250px;
    font-family: 'san-francisco';
    font-size: 115%;
}

.iphone article:nth-of-type(1) button:first-of-type {
    position: absolute;
    top: 17em;
    background-color: #0271E3;
    padding: .5em;
    padding-left: 1em;
    padding-right: 1em;
    border: solid 2px;
    border-radius: 3em;
    color: white;
    font-family: 'san-francisco';
    font-size: 100%;
    border-color: #0271E3;
}

.iphone article:nth-of-type(1) button:nth-of-type(2) {
    position: absolute;
    top: 20em;
    border: none;
    color: #0271E3;

}

.iphone article:nth-of-type(1) .nr2:hover {
    background-color: black;
    color: white;
}

/********************************* tweede artikel ********************************/

.iphone article:nth-of-type(2) {
    margin: 0;
    background-color: white;
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    height: 630px;
    text-align: center;
}

.iphone article:nth-of-type(2) img {
    position: absolute;
    top: 15em;
    width: 315px;
    height: 410px;
    object-fit: cover;
    height: auto;
}

.iphone article:nth-of-type(2) h6 {
    position: absolute;
    color: var(--text2--color);
    top: .5em;
    font-family: 'san-francisco';
    font-size: 120%;
}

.iphone article:nth-of-type(2) h2 {
    position: absolute;
    color: var(--text2--color);
    top: 1.8em;
    font-family: 'san-francisco';
    font-size: 225%;
    white-space: pre;
}

.iphone article:nth-of-type(2) button:first-of-type {
    position: absolute;
    top: 12em;
    left: auto;
    background-color: transparent;
    padding: .5em;
    padding-left: 1em;
    padding-right: 1em;
    border: none;
    color: #0271E3;
    font-family: 'san-francisco';
    font-size: 100%;
}

/********************************* derde artikel ********************************/

#sidebyside {
    height: 1250px;
    background-color: white;
}

#sidebyside .titelsidebyside {
    color: black;
    font-family: 'san-francisco';
    z-index: 4;
    top: .5em;
    max-width: 255px;
    font-size: 210%;
}

#sidebyside .sidebyside1 {
    background-color: white;
}

#sidebyside .sidebyside2 {
    background-color: white;
}

#sidebyside .sidebyside1 img {
    position: absolute;
    top: 10em;
    width: 150px;
}

#sidebyside .sidebyside2 img {
    position: absolute;
    top: 10em;
    width: 150px;
}

#sidebyside .sidebyside1 h3 {
    position: absolute;
    top: 18em;
    font-family: 'san-francisco';
    font-size: 140%;
}

#sidebyside .sidebyside1 p:first-of-type {
    position: absolute;
    top: 28em;
    font-family: 'san-francisco';
    font-size: 100%;
    color: black;
}

#sidebyside .sidebyside1 p:nth-of-type(2) {
    position: absolute;
    top: 30em;
    font-family: 'san-francisco';
    font-size: 100%;
    color: black;
}

#sidebyside .sidebyside1 button:first-of-type {
    position: absolute;
    top: 34em;
}

#sidebyside .sidebyside1 button:nth-of-type(2) {
    position: absolute;
    top: 37em;
    left: auto;
    right: auto;
}

#sidebyside .sidebyside2 h3 {
    position: absolute;
    top: 18em;
    font-family: 'san-francisco';
    font-size: 140%;
}

#sidebyside .sidebyside2 p:first-of-type {
    position: absolute;
    top: 28em;
    font-family: 'san-francisco';
    font-size: 100%;
    color: black;
}

#sidebyside .sidebyside2 p:nth-of-type(2) {
    position: absolute;
    top: 30em;
    font-family: 'san-francisco';
    font-size: 100%;
    color: black;
}

#sidebyside .sidebyside2 button:first-of-type {
    position: absolute;
    top: 34em;
    background-color: #0271E3;
    padding: .5em;
    padding-left: 1em;
    padding-right: 1em;
    border: solid 2px;
    border-radius: 3em;
    color: white;
    font-family: 'san-francisco';
    font-size: 100%;
    border-color: #0271E3;
}

#sidebyside .sidebyside2 button:nth-of-type(2) {
    position: absolute;
    top: 37em;
    left: auto;
    right: auto;
    border: none;
    color: #0271E3;
}

/********************************* Kleurenbolletjes ********************************/

.bolletjes {
    position: absolute;
    top: 23em;
}

.bol1{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 100px;
    display: inline-block;
}

.bol2 {
    width: 15px;
    height: 15px;
    background-color: violet;
    border-radius: 100px;
    display: inline-block;
}

.bol3 {
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 100px;
    display: inline-block;
}

.bol4 {
    width: 15px;
    height: 15px;
    background-color: blue;
    border-radius: 100px;
    display: inline-block;
}

.iphonepagina {
    background-color: white;
}

.iphonepagina div p {
    color: rgb(46, 44, 44);
}

#sidebyside .replace {
    position: absolute;
    max-width: 360px;
    top: 40em;
    margin-bottom: 3em;
}
