@font-face {
    font-family: "Yanone Kaffeesatz";
    src: url("../fonts/YanoneKaffeesatz-Regular.ttf");
}
body {
    margin: 0;
}
nav {
    background-color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
}

nav li {
    color: white;
    list-style: none;
    flex-direction: row;
}

nav li img {
    width: 20px;
}

article {
    margin: 0;
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    height:622px;
    text-align: center;
}

article h2 {
   position: absolute;
   color: white;
   top: 16em;
}

article p {
    position: absolute;
    color: white;
    top: 28em;
    max-width: 330px;
}


